@use "../../../../shared/variables" as *;

.main {
  background-color: $surface;
  color: $text;

  width: 100%;
  max-width: 500px;
  margin: 1rem auto;

  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid $border;

  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  .top {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    img {
      width: 2.8rem;
      height: 2.8rem;
      object-fit: cover;
      object-position: top;
      border-radius: 50%;
    }

    .usernamePostedat {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 0.9rem;

      span {
        color: $muted;
        font-size: 0.8rem;
      }
    }
  }

  .caption {
    font-weight: 400;
    font-size: 0.95rem;
    line-height: 1.4;
  }

  .img {
    display: flex;
    justify-content: center;

    img {
      width: 100%;
      max-height: 400px;
      object-fit: cover;
      border-radius: 0.8rem;
    }
  }
}
